.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 767px) {
  .layout {
    height: 100dvh;
  }
}

.content {
  flex: 1;
  position: relative;
  overflow: hidden;
}
